#image{

    width: 100% !important;
     height : 100% !important;
      object-fit : contain !important;
}

.progress-bar {
    height: 35px;
    width:  250px;
    border: 2px solid darkblue;

}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: width 0.25s;
}

.progress-bar-text{
    margin-left: 10px;
    font-weight: bold;
}